/* CSS for index page*/

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead th {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Gray color for even rows */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White color for odd rows */
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tfoot td {
  padding: 10px;
  text-align: center;
  border-top: 2px solid #ddd;
  background-color: #f4f4f4;
}

td a,
td button {
  margin-right: 5px;
}
    
.sort-link.highlight {
    font-weight: bold;
    color: #ff9800; /* Highlight color */
}

.sort-link {
  color: #000; /* Default color */
  text-decoration: none;
}

/* Add this to your stylesheet, e.g., application.css */

th a {
    text-decoration: none;
    color: black; /* Default color */
}

th a.current.asc::after {
  content: '▲'; /* Upward arrow for ascending */
  margin-left: 5px;
}

th a.current.desc::after {
  content: '▼'; /* Downward arrow for descending */
  margin-left: 5px;
}

th a.current {
  font-weight: bold;
}

  