/* CSS for index page*/

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Style for table headers */
thead th {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

/* Style for table rows */
tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Gray color for even rows */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White color for odd rows */
}

/* Style for table cells */
tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Style for the last row of the table */
tfoot td {
  padding: 10px;
  text-align: center;
  border-top: 2px solid #ddd;
  background-color: #f4f4f4;
}

/* Style for the action links */
td a,
td button {
  margin-right: 5px;
}
    